[submodule "modules/tiny_lobby"]
	path = modules/tiny_lobby
	url = https://github.com/appsinacup/addon_tiny_lobby_client
[submodule "modules/godot_wry"]
	path = modules/godot_wry
	url = https://github.com/appsinacup/godot_wry.git
[submodule "modules/gdterm"]
	path = modules/gdterm
	url = https://github.com/appsinacup/gdterm.git
[submodule "modules/godot_vscode_ide"]
	path = modules/godot_vscode_ide
	url = https://github.com/appsinacup/godot_vscode_ide.git
